*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fff
*.fls
*.lof
*.log
*.lot
*.toc
*.out
*.synctex.gz
*.ttt
*.pdf
*.docx

# Editor / OS cruft
.DS_Store
Icon
.vscode/
Thumbs.db

# Julia
*.ji

# Observations is ~200 mb - A bit large for keeping in the repo
data/observations.csv